@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .details {
  opacity: 1;
  cursor: pointer;
}

.image {
  margin-bottom: 25px;
  width: 45%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
  font-size: 20px;
}

.skills {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
}
