@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  position: relative;
  font-size: 72px;
  font-weight: 900;
  font-family: var(--font-roboto);
}

.description {
  position: relative;
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.typingEffect {
  display: block; /* Ensures it appears on a new line */
  margin-top: 10px; /* Adjust spacing as needed */
}

.heroImg {
  width: 50%;
  z-index: 1;
  border-radius: 20px;
  margin: 0 0 30px 50px;
  box-shadow: 3px 3px 3px 3px hsl(271, 70%, 60%, 0.5);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, 0px);
  }
}

@media screen and (max-wdith: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}
