@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  /* position: relative; */
  font-size: 72px;
  font-weight: 900;
  font-family: var(--font-roboto);
}

.description {
  position: relative;
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 25px;
}

.typingEffect {
  position: relative;
  font-size: 32px;
  margin-top: -20px;
  color: var(--color-text);
}

.heroImg {
  width: 50%;
  z-index: 1;
  border-radius: 20px;
  margin: 0 0 30px 50px;
  box-shadow: 3px 3px 3px 3px hsl(271, 70%, 60%, 0.5);
}

@media screen and (max-width: 830px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .heroImg {
    width: 70%;
  }

  .title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .description {
    font-size: 20px;
  }

  .typingEffect {
    font-size: 20px;
  }

  .content {
    align-items: center;
  }
}
