@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.mailToLogo img {
  width: 32px; /* Adjust logo size */
  height: 32px; /* Ensure logos are square */
}

.githubLogo img {
  width: 30px; /* Adjust logo size */
  height: 30px; /* Ensure logos are square */
  margin-left: 5px;
}

.linkedInLogo img {
  width: 42px; /* Adjust logo size */
  height: 42px; /* Ensure logos are square */
}

.copyright {
  padding-top: 12px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    gap: 23px;
    align-items: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
