@import "../../vars.css";

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1% 1%;
  z-index: 100;
  margin: 0 8%;
  border-bottom: white dashed 2px;
  background-color: var(--color-bg);
  box-sizing: border-box;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: center; /* Align vertically */
  gap: 20px; /* Space between menu items */
  margin-left: 0;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.menuItems a:hover {
  color: transparent; /* Makes the text transparent */
  background-image: linear-gradient(90deg, #ff7eb3, #57cff0, #9b51e0);
  background-clip: text; /* Applies the background gradient to the text only */
}

.menuBtn {
  display: none;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 25px;
  margin: 0; /* Reset margins */
  position: relative;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(200deg, #ff7eb3, #57cff0, #9b51e0);
}

.logosAndButton {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 15px; /* Space between logos and the button */
  margin: 0;
}

.githubLogo img {
  width: 30px; /* Adjust logo size */
  height: 30px; /* Ensure logos are square */
}

.linkedInLogo img {
  width: 42px; /* Adjust logo size */
  height: 42px; /* Ensure logos are square */
}

@media screen and (max-width: 830px) {
  .contactBtn {
    font-size: 10px;
    padding: 10px 20px;
    border-radius: 8px;
  }

  .githubLogo img,
  .linkedInLogo img {
    width: 20px;
    height: 20px;
  }

  .navbar {
    padding: 20px 5%; /* Adjust padding for smaller screens */
  }

  .menuItems a {
    font-size: 12px;
  }

  .menuItems {
    gap: 22px;
  }
}
